# --- SENSITIVE FILES ---
*.jks
*.keystore
*.p12
*.key
local.properties
.env
.env.local
*.local
google-services.json
firebase_options.dart

# --- FLUTTER & DART ---
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.g.dart

# --- IDE & OS ---
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
**/.DS_Store
Thumbs.db
desktop.ini

# --- OTHER ---
*.class
*.log
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
**/doc/api/
**/ios/Flutter/.last_build_id
.flutter-plugins-dependencies
pubspec.lock
/coverage/
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release
*.isar
*.isar.lock
*.isar_lock
**/default.isar
**/default.isar.lock
*.tmp
*.temp
*.bak
*~
